## Web-scrapping Assignment 4

Q1)Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [3]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [4]:
Rank = []

r = driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[1]')
for i in r:
    Rank.append(i.text)

In [5]:
Rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [10]:
Name = []

N = driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[2]')
for i in N:
    Name.append(i.text)

In [11]:
len(Name)

30

In [12]:
Name

['"Baby Shark Dance"[4]',
 '"Despacito"[7]',
 '"Johny Johny Yes Papa"[14]',
 '"Bath Song"[15]',
 '"Shape of You"[16]',
 '"See You Again"[19]',
 '"Phonics Song with Two Words"[24]',
 '"Wheels on the Bus"[25]',
 '"Uptown Funk"[26]',
 '"Learning Colors – Colorful Eggs on a Farm"[27]',
 '"Gangnam Style"[28]',
 '"Masha and the Bear – Recipe for Disaster"[33]',
 '"Dame Tu Cosita"[34]',
 '"Axel F"[35]',
 '"Sugar"[36]',
 '"Roar"[37]',
 '"Counting Stars"[38]',
 '"Sorry"[39]',
 '"Baa Baa Black Sheep"[40]',
 '"Thinking Out Loud"[41]',
 '"Waka Waka (This Time for Africa)"[42]',
 '"Dark Horse"[43]',
 '"Lakdi Ki Kathi"[44]',
 '"Faded"[45]',
 '"Perfect"[46]',
 '"Let Her Go"[47]',
 '"Girls Like You"[48]',
 '"Humpty the train on a fruits ride"[49]',
 '"Lean On"[50]',
 '"Bailando"[51]']

In [13]:
Artist = []

A = driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[3]')
for i in A:
    Artist.append(i.text)

In [14]:
Artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Cocomelon – Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'ChuChu TV',
 'Cocomelon – Nursery Rhymes',
 'Mark Ronson',
 'Miroshka TV',
 'Psy',
 'Get Movies',
 'El Chombo',
 'Crazy Frog',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Justin Bieber',
 'Cocomelon – Nursery Rhymes',
 'Ed Sheeran',
 'Shakira',
 'Katy Perry',
 'Jingle Toons',
 'Alan Walker',
 'Ed Sheeran',
 'Passenger',
 'Maroon 5',
 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs',
 'Major Lazer',
 'Enrique Iglesias']

In [15]:
Upload_Date = []

U = driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[5]')
for i in U:
    Upload_Date.append(i.text)

In [16]:
Upload_Date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'March 6, 2014',
 'May 24, 2018',
 'November 19, 2014',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'June 16, 2009',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'October 22, 2015',
 'June 25, 2018',
 'October 7, 2014',
 'June 4, 2010',
 'February 20, 2014',
 'June 14, 2018',
 'December 3, 2015',
 'November 9, 2017',
 'July 25, 2012',
 'May 31, 2018',
 'January 26, 2018',
 'March 22, 2015',
 'April 11, 2014']

In [20]:
Views_In_Billions= []

V = driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[4]')

for i in V :
    Views_In_Billions.append(i.text)

In [21]:
Views_In_Billions

['12.85',
 '8.16',
 '6.70',
 '6.20',
 '6.00',
 '5.89',
 '5.30',
 '5.24',
 '4.92',
 '4.89',
 '4.80',
 '4.55',
 '4.35',
 '3.91',
 '3.87',
 '3.80',
 '3.79',
 '3.66',
 '3.64',
 '3.60',
 '3.59',
 '3.52',
 '3.48',
 '3.45',
 '3.45',
 '3.44',
 '3.42',
 '3.41',
 '3.38',
 '3.38']

In [23]:
Most_Viewed_Videos = pd.DataFrame({'Rank': Rank,'Name': Name, 'Artist': Artist,'Upload_Date': Upload_Date,'Views_In_Billions':Views_In_Billions })

In [24]:
Most_Viewed_Videos

,Rank,Name,Artist,Upload_Date,Views_In_Billions
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.85
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.16
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.70
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",6.20
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",6.00
5,6.,"""See You Again""[19]",Wiz Khalifa,"April 6, 2015",5.89
6,7.,"""Phonics Song with Two Words""[24]",ChuChu TV,"March 6, 2014",5.30
7,8.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",5.24
8,9.,"""Uptown Funk""[26]",Mark Ronson,"November 19, 2014",4.92
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[27]",Miroshka TV,"February 27, 2018",4.89
10,11.,"""Gangnam Style""[28]",Psy,"July 15, 2012",4.80
11,12.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,"January 31, 2012",4.55
12,13.,"""Dame Tu Cosita""[34]",El Chombo,"April 5, 2018",4.35
13,14.,"""Axel F""[35]",Crazy Frog,"June 16, 2009",3.91
14,15.,"""Sugar""[36]",Maroon 5,"January 14, 2015",3.87
15,16.,"""Roar""[37]",Katy Perry,"September 5, 2013",3.80
16,17.,"""Counting Stars""[38]",OneRepublic,"May 31, 2013",3.79
17,18.,"""Sorry""[39]",Justin Bieber,"October 22, 2015",3.66
18,19.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.64
19,20.,"""Thinking Out Loud""[41]",Ed Sheeran,"October 7, 2014",3.60
20,21.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.59
21,22.,"""Dark Horse""[43]",Katy Perry,"February 20, 2014",3.52
22,23.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.48
23,24.,"""Faded""[45]",Alan Walker,"December 3, 2015",3.45
24,25.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.45
25,26.,"""Let Her Go""[47]",Passenger,"July 25, 2012",3.44
26,27.,"""Girls Like You""[48]",Maroon 5,"May 31, 2018",3.42
27,28.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.41
28,29.,"""Lean On""[50]",Major Lazer,"March 22, 2015",3.38
29,30.,"""Bailando""[51]",Enrique Iglesias,"April 11, 2014",3.38

Q2) Scrape the details teamIndia’sinternationalfixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [25]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [26]:
driver.get('https://www.bcci.tv/')

In [27]:
s = driver.find_element(By.XPATH,'/html/body/nav/div[1]/button/span[2]')
s.click()

In [28]:
s1 = driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
s1.click()

In [29]:
Mt = []

m = driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]')

for i in m:
    Mt.append(i.text)

In [30]:
Mt

['1st Test -',
 '2nd Test -',
 '1st ODI -',
 '2nd ODI -',
 '3rd ODI -',
 '1st T20I -',
 '2nd T20I -',
 '3rd T20I -',
 '4th T20I -',
 '5th T20I -']

In [32]:
Series = []

s = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')

for i in s:
    Series.append(i.text)

In [33]:
Series

['INDIA TOUR OF WEST INDIES 2023',
 'INDIA TOUR OF WEST INDIES 2023',
 'INDIA TOUR OF WEST INDIES 2023',
 'INDIA TOUR OF WEST INDIES 2023',
 'INDIA TOUR OF WEST INDIES 2023',
 'INDIA TOUR OF WEST INDIES 2023',
 'INDIA TOUR OF WEST INDIES 2023',
 'INDIA TOUR OF WEST INDIES 2023',
 'INDIA TOUR OF WEST INDIES 2023',
 'INDIA TOUR OF WEST INDIES 2023']

In [34]:
Place = []

p = driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')

for i in p:
    Place.append(i.text)

In [35]:
Place

['Windsor Park,',
 "Queen's Park Oval,",
 'Kensington Oval,',
 'Kensington Oval,',
 'Brian Lara Stadium,',
 'Brian Lara Stadium,',
 'National Stadium,',
 'National Stadium,',
 'Central Broward Regional Park Stadium Turf Ground,',
 'Central Broward Regional Park Stadium Turf Ground,']

In [36]:
Dates = []

d = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')

for i in d:
    Dates.append(i.text)

In [37]:
Dates

['12 JUL 2023',
 '20 JUL 2023',
 '27 JUL 2023',
 '29 JUL 2023',
 '1 AUG 2023',
 '3 AUG 2023',
 '6 AUG 2023',
 '8 AUG 2023',
 '12 AUG 2023',
 '13 AUG 2023']

In [38]:
Time = []

t = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')

for i in t:
    Time.append(i.text)

In [39]:
Time

['7:30 PM IST',
 '7:30 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST',
 '8:00 PM IST']

In [40]:
India_Fixtures = pd.DataFrame({'Match': Mt, 'Series':Series, 'Place':Place, 'Dates': Dates, 'Timings':Time})

In [41]:
India_Fixtures

,Match,Series,Place,Dates,Timings
0,1st Test -,INDIA TOUR OF WEST INDIES 2023,"Windsor Park,",12 JUL 2023,7:30 PM IST
1,2nd Test -,INDIA TOUR OF WEST INDIES 2023,"Queen's Park Oval,",20 JUL 2023,7:30 PM IST
2,1st ODI -,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval,",27 JUL 2023,7:00 PM IST
3,2nd ODI -,INDIA TOUR OF WEST INDIES 2023,"Kensington Oval,",29 JUL 2023,7:00 PM IST
4,3rd ODI -,INDIA TOUR OF WEST INDIES 2023,"Brian Lara Stadium,",1 AUG 2023,7:00 PM IST
5,1st T20I -,INDIA TOUR OF WEST INDIES 2023,"Brian Lara Stadium,",3 AUG 2023,8:00 PM IST
6,2nd T20I -,INDIA TOUR OF WEST INDIES 2023,"National Stadium,",6 AUG 2023,8:00 PM IST
7,3rd T20I -,INDIA TOUR OF WEST INDIES 2023,"National Stadium,",8 AUG 2023,8:00 PM IST
8,4th T20I -,INDIA TOUR OF WEST INDIES 2023,Central Broward Regional Park Stadium Turf Gro...,12 AUG 2023,8:00 PM IST
9,5th T20I -,INDIA TOUR OF WEST INDIES 2023,Central Broward Regional Park Stadium Turf Gro...,13 AUG 2023,8:00 PM IST

In [1]:
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

Q3) Scrape the details of State-wise GDP ofIndia fromstatisticstime.com. 
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [2]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [3]:
driver.get('http://statisticstimes.com/')

In [4]:
s = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')

In [5]:
s.click()

In [10]:
s1 = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
s1.click()

In [11]:
Rank = []

r = driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[1]')
for i in r:
    Rank.append(i.text)

In [12]:
Rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [13]:
State = []

s = driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[2]')
for i in s:
    State.append(i.text)

In [14]:
State

['Maharashtra',
 'Tamil Nadu',
 'Uttar Pradesh',
 'Gujarat',
 'Karnataka',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [15]:
GSDP_18_19 = []

gs = driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]')

for i in gs:
    GSDP_18_19.append(i.text)

In [16]:
GSDP_18_19

['2,632,792',
 '1,630,208',
 '1,584,764',
 '1,502,899',
 '1,493,127',
 '1,089,898',
 '942,586',
 '862,957',
 '861,031',
 '809,592',
 '781,653',
 '774,870',
 '734,163',
 '530,363',
 '526,376',
 '487,805',
 '315,881',
 '304,063',
 '297,204',
 '245,895',
 '155,956',
 '153,845',
 '73,170',
 '49,845',
 '42,114',
 '34,433',
 '33,481',
 '28,723',
 '27,870',
 '27,283',
 '24,603',
 '22,287',
 '-']

In [17]:
GSDP_19_20 = []

gs1 = driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[3]')

for i in gs1:
    GSDP_19_20.append(i.text)

In [18]:
GSDP_19_20

['-',
 '1,845,853',
 '1,687,818',
 '-',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '-',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '-',
 '329,180',
 '328,598',
 '-',
 '-',
 '165,472',
 '80,449',
 '55,984',
 '-',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '-',
 '-',
 '26,503',
 '-']

In [19]:
Share_18_19 = []

sh = driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]')

for i in sh:
    Share_18_19.append(i.text)

In [20]:
Share_18_19

['13.94%',
 '8.63%',
 '8.39%',
 '7.96%',
 '7.91%',
 '5.77%',
 '4.99%',
 '4.57%',
 '4.56%',
 '4.29%',
 '4.14%',
 '4.10%',
 '3.89%',
 '2.81%',
 '2.79%',
 '2.58%',
 '1.67%',
 '1.61%',
 '1.57%',
 '1.30%',
 '0.83%',
 '0.81%',
 '0.39%',
 '0.26%',
 '0.22%',
 '0.18%',
 '0.18%',
 '0.15%',
 '0.15%',
 '0.14%',
 '0.13%',
 '0.12%',
 '-']

In [22]:
GDP_billion = []

gdp = driver.find_elements(By.XPATH,'/html/body/div[2]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]')

for i in gdp:
    GDP_billion.append(i.text)

In [23]:
GDP_billion

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

In [24]:
State_Wise_GDP = pd.DataFrame({'Rank' : Rank, 'State': State, 'GSDP_18_19': GSDP_18_19, 'GSDP_19_20': GSDP_19_20, 'Share_18_19': Share_18_19, 'GDP_billion': GDP_billion})
State_Wise_GDP

,Rank,State,GSDP_18_19,GSDP_19_20,Share_18_19,GDP_billion
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

Q4) Scrape the details of trending repositories on Github.com. 
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [1]:
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [3]:
driver.get('https://github.com/')

In [5]:
s = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[1]/div[2]/button/span/span/div[2]')
s.click()

In [6]:
s1 = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
s1.click()

In [7]:
Repository_tittle = []

rt = driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/h2/a/span')
for i in rt: 
    Repository_tittle.append(i.text.split('/')[0])

In [8]:
Repository_tittle

['XingangPan ',
 'THUDM ',
 'CASIA-IVA-Lab ',
 'ramonvc ',
 'embedchain ',
 'spacedriveapp ',
 'xitanggg ',
 'papers-we-love ',
 'sadmann7 ',
 'microsoft ',
 'sb-ocr ',
 'THUDM ',
 'SizheAn ',
 'PlexPt ',
 'firstcontributions ',
 'actualbudget ',
 'xtekky ',
 'sveltejs ',
 'Zeqiang-Lai ',
 'OpenDriveLab ',
 'qgis ',
 'chat2db ',
 'Kanaries ',
 'ggerganov ',
 'StanGirard ']

In [9]:
len(Repository_tittle)

25

In [11]:
Description = []

D = driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/p')

for i in D:
    Description.append(i.text)

In [12]:
Description

['Official Code for DragGAN (SIGGRAPH 2023)',
 'ChatGLM2-6B: An Open Bilingual Chat LLM | 开源双语对话语言模型',
 'Fast Segment Anything',
 'GPT 3.5/4 with a Chat Web UI. No API key required.',
 'Framework to easily create LLM powered bots over any dataset.',
 'Spacedrive is an open source cross-platform file explorer, powered by a virtual distributed filesystem written in Rust.',
 'OpenResume is a powerful open-source resume builder and resume parser. https://open-resume.com/',
 'Papers from the computer science community to read and discuss.',
 'An open source e-commerce skateshop build with everything new in Next.js 13.',
 '24 Lessons, 12 Weeks, Get Started as a Web Developer',
 'A DIY navigation device for Fusion360',
 'ChatGLM-6B: An Open Bilingual Dialogue Language Model | 开源双语对话语言模型',
 'Code Repository for CVPR 2023 Paper "PanoHead: Geometry-Aware 3D Full-Head Synthesis in 360 degree"',
 'ChatGPT 中文调教指南。各种场景使用指南。学习怎么让它听你的话。',
 '🚀✨ Help beginners to contribute to open source projects',
 'A local-first personal finance system',
 'The official gpt4free repository | various collection of powerful language models',
 'Cybernetically enhanced web apps',
 'Unofficial Implementation of DragGAN - "Drag Your GAN: Interactive Point-based Manipulation on the Generative Image Manifold" （DragGAN 全功能实现，在线Demo，本地部署试用，代码、模型已全部开源，支持Windows, macOS, Linux）',
 '[CVPR 2023 Best Paper] Planning-oriented Autonomous Driving',
 'QGIS is a free, open source, cross platform (lin/win/mac) geographical information system (GIS)',
 '🔥 🔥 🔥 An intelligent and versatile general-purpose SQL client and reporting tool for databases which integrates ChatGPT capabilities.(智能的通用数据库SQL客户端和报表工具)',
 'PyGWalker: Turn your pandas dataframe into a Tableau-style User Interface for visual analysis',
 'Tensor library for machine learning',
 '🧠 Dump all your files and thoughts into your private GenerativeAI Second Brain and chat with it 🧠']

In [13]:
len(Description)

25

In [15]:
url = []

u = driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/main/div[3]/div/div[2]/article/h2/a')

for i in u:
    url.append(i.get_attribute('href'))

In [16]:
len(url)

25

In [17]:
from selenium.common.exceptions import NoSuchElementException

In [26]:
contri = []

for i in url:
    driver.get(i)
    time.sleep(3)
    try:
        co = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[5]/div/h2/a/span')
        contri.append(co.text)
    except NoSuchElementException:
        contri.append('-')

In [27]:
contri

['-',
 '-',
 '10',
 '-',
 '5',
 '-',
 '-',
 '247',
 '-',
 '205',
 '-',
 '44',
 '-',
 '19',
 '-',
 '52',
 '82',
 '-',
 '-',
 '-',
 '-',
 '7',
 '-',
 '-',
 '26']

In [34]:
lang = []

for i in url:
    driver.get(i)
    time.sleep(5)
    try:
        la = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[2]/div[2]/div/div[5]/div/ul/li[1]/a/span[1]')
        lang.append(la.text)
    except NoSuchElementException:
        lang.append('-')

In [35]:
lang

['Python',
 'Python',
 'Python',
 '-',
 '-',
 'Rust',
 'TypeScript',
 '-',
 '-',
 'JavaScript',
 'C++',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 'Java',
 'Python',
 '-',
 '-']

In [36]:
Trending_repositories = pd.DataFrame({'Repository_tittle': Repository_tittle, 'Description': Description, 'contributors' : contri, 'Language used': lang })

In [37]:
Trending_repositories

,Repository_tittle,Description,contributors,Language used
0,XingangPan,Official Code for DragGAN (SIGGRAPH 2023),-,Python
1,THUDM,ChatGLM2-6B: An Open Bilingual Chat LLM | 开源双语...,-,Python
2,CASIA-IVA-Lab,Fast Segment Anything,10,Python
3,ramonvc,GPT 3.5/4 with a Chat Web UI. No API key requi...,-,-
4,embedchain,Framework to easily create LLM powered bots ov...,5,-
5,spacedriveapp,Spacedrive is an open source cross-platform fi...,-,Rust
6,xitanggg,OpenResume is a powerful open-source resume bu...,-,TypeScript
7,papers-we-love,Papers from the computer science community to ...,247,-
8,sadmann7,An open source e-commerce skateshop build with...,-,-
9,microsoft,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",205,JavaScript
10,sb-ocr,A DIY navigation device for Fusion360,-,C++
11,THUDM,ChatGLM-6B: An Open Bilingual Dialogue Languag...,44,-
12,SizheAn,"Code Repository for CVPR 2023 Paper ""PanoHead:...",-,-
13,PlexPt,ChatGPT 中文调教指南。各种场景使用指南。学习怎么让它听你的话。,19,-
14,firstcontributions,🚀✨ Help beginners to contribute to open source...,-,-
15,actualbudget,A local-first personal finance system,52,-
16,xtekky,The official gpt4free repository | various col...,82,-
17,sveltejs,Cybernetically enhanced web apps,-,-
18,Zeqiang-Lai,"Unofficial Implementation of DragGAN - ""Drag Y...",-,-
19,OpenDriveLab,[CVPR 2023 Best Paper] Planning-oriented Auton...,-,-
20,qgis,"QGIS is a free, open source, cross platform (l...",-,-
21,chat2db,🔥 🔥 🔥 An intelligent and versatile general-pur...,7,Java
22,Kanaries,PyGWalker: Turn your pandas dataframe into a T...,-,Python
23,ggerganov,Tensor library for machine learning,-,-
24,StanGirard,🧠 Dump all your files and thoughts into your p...,26,-

Q5) Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [1]:
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [4]:
driver.get('https:/www.billboard.com/')

In [7]:
s = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
s.click()

In [8]:
s1 = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/button')
s1.click()

In [9]:
s2 = driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]')
s2.click()

In [10]:
Song = []

s = driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/h3')

for i in s:
    Song.append(i.text)

In [11]:
len(Song)

100

In [12]:
Artist = []

a = driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span')

for i in a:
    Artist.append(i.text)

In [13]:
len(Artist)

100

In [14]:
last_week_rank = []

lwr = driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[4]/span')

for i in lwr:
    last_week_rank.append(i.text)

In [15]:
len(last_week_rank)

100

In [16]:
Peak_rank = []

pr = driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]/span')

for i in pr:
    Peak_rank.append(i.text)

In [17]:
len(Peak_rank)

100

In [18]:
Weeks_on_board = []

wob = driver.find_elements(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[6]/span')

for i in wob:
    Weeks_on_board.append(i.text)

In [19]:
len(Weeks_on_board)

100

In [20]:
Top_100_songs = pd.DataFrame({'Song': Song, 'Artist': Artist, 'last_week_rank': last_week_rank, 'Peak_rank': Peak_rank, 'Weeks_on_board':Weeks_on_board })

In [21]:
Top_100_songs

,Song,Artist,last_week_rank,Peak_rank,Weeks_on_board
0,Last Night,Morgan Wallen,1,1,21
1,Fast Car,Luke Combs,3,2,13
2,Calm Down,Rema & Selena Gomez,4,3,42
3,Flowers,Miley Cyrus,2,1,23
4,All My Life,Lil Durk Featuring J. Cole,5,2,6
...,...,...,...,...,...
95,"Angel, Pt. 1","Kodak Black, NLE Choppa, Jimin, JVKE & Muni Long",-,65,2
96,Girl In Mine,Parmalee,-,97,1
97,Moonlight,Kali Uchis,90,80,11
98,Classy 101,Feid x Young Miko,-,99,1
99,Bluffin,Gucci Mane & Lil Baby,-,100,1

Q6) Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [2]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [6]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [7]:
Book_name = []

b = driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')

for i in b:
    Book_name.append(i.text)

In [8]:
Book_name

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [9]:
Author_name = []

a = driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')

for i in a:
    Author_name.append(i.text)

In [10]:
len(Author_name)

100

In [11]:
len(Book_name)

100

In [12]:
Volumes_sold = []

v = driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]')

for i in v:
    Volumes_sold.append(i.text)

In [13]:
len(Volumes_sold)

100

In [14]:
Publisher = []

p = driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]')

for i in p:
    Publisher.append(i.text)

In [15]:
len(Publisher)

100

In [16]:
Genre = []

g = driver.find_elements(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[6]')

for i in g:
    Genre.append(i.text)

In [17]:
len(Genre)

100

In [18]:
Highest_selling_novels = pd.DataFrame({'Book_name':Book_name, 'Author_name': Author_name, 'Volumes_sold' : Volumes_sold, 'Publisher' : Publisher, 'Genre' : Genre })

In [19]:
Highest_selling_novels

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q7)  Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [20]:
driver.get('https://www.imdb.com/list/ls095964455/')

In [21]:
Name  = []

N = driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/a')

for i in N:
    Name.append(i.text)

In [22]:
len(Name)

100

In [23]:
Year_span = []

y = driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/span[2]')

for i in y:
    Year_span.append(i.text)

In [24]:
len(Year_span)

100

In [25]:
Genre1 = []

ge = driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[5]')

for i in ge:
    Genre1.append(i.text)

In [26]:
len(Genre1)

100

In [27]:
Run_time = []

rt = driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[3]')

for i in rt:
    Run_time.append(i.text)

In [28]:
len(Run_time)

100

In [29]:
Ratings = []

Ra = driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/div[1]/div[1]/span[2]')

for i in Ra:
    Ratings.append(i.text)

In [30]:
len(Ratings)

100

In [32]:
Votes = []

vo = driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]')

for i in vo:
    Votes.append(i.text)

In [33]:
len(Votes)

100

In [34]:
Most_Watched_TV_Series = pd.DataFrame({'Name':Name, 'Year_span':Year_span, 'Genre1': Genre1, 'Run_time': Run_time,'Ratings': Ratings, 'Votes': Votes})

In [35]:
Most_Watched_TV_Series

,Name,Year_span,Genre1,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,173,886"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,251,712"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,032,578"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"303,582"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"262,752"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,965"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,997"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"208,555"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"43,403"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"260,236"

Q8) Details of Datasetsfrom UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [59]:
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium.common.exceptions import NoSuchElementException

In [60]:
driver = webdriver.Chrome(r'C:\Users\Kushal Kulkarni\Downloads\chromedriver.exe')

In [4]:
driver.get('https://archive.ics.uci.edu/')

In [5]:
s = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
s.click()

In [6]:
Dataset_name = []

dt = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div[2]/h2/a')

for i in dt:
    Dataset_name.append(i.text)

In [7]:
len(Dataset_name)

10

In [8]:
Data_Type = []

dt1 = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div[2]/div/div[1]/span')

for i in dt1:
    Data_Type.append(i.text)

In [9]:
len(Data_Type)

10

In [10]:
Task = []

task = driver.find_elements(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[2]/div/div/div[2]/div/div[2]/span')

for i in task:
    Task.append(i.text)

In [11]:
len(Task)

10

In [12]:
url = []

ur = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')

for i in ur:
    url.append(i.get_attribute('href'))

In [13]:
len(url)

10

In [18]:
Attribute_type = []

for i in url:
    driver.get(i)
    time.sleep(3)
    try:
        att = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
        Attribute_type.append(att.text)
    except NoSuchElementException:             
        Attribute_type.append('-')

In [19]:
len(Attribute_type)

10

In [20]:
Attribute_type

['Real',
 'Categorical, Integer, Real',
 'Categorical, Integer',
 'Integer, Real',
 'Categorical, Integer',
 'Real',
 'Integer, Real',
 'Categorical',
 'Real',
 'Categorical']

In [23]:
No_of_instances = []

for i in url:
    driver.get(i)
    time.sleep(3)
    try:
        no = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p')
        No_of_instances.append(no.text)
    except NoSuchElementException:
        No_of_instances.append(no.text)

In [24]:
len(No_of_instances)

10

In [25]:
No_of_instances

['150', '303', '48842', '13611', '-', '3810', '178', '1728', '569', '8124']

In [26]:
No_of_attribute = []

for i in url:
    driver.get(i)
    time.sleep(3)
    try:
        noo = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p')
        No_of_attribute.append(noo.text)
    except NoSuchElementException:
        No_of_attribute.append(noo.text)

In [27]:
len(No_of_attribute)

10

In [28]:
No_of_attribute

['4', '13', '14', '17', '20', '8', '13', '6', '30', '22']

In [30]:
Year_note = []

for i in url:
    driver.get(i)
    time.sleep(3)
    try:
        ye = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2')
        Year_note.append(ye.text)
    except NoSuchElementException:
        Year_note.append('-')

In [31]:
len(Year_note)

10

In [32]:
Year_note

['Donated on 6/30/1988',
 'Donated on 6/30/1988',
 'Donated on 4/30/1996',
 'Donated on 9/13/2020',
 '-',
 'Donated on 10/5/2019',
 'Donated on 6/30/1991',
 'Donated on 5/31/1997',
 'Donated on 10/31/1995',
 'Donated on 4/26/1987']

In [33]:
UCI_Datasets = pd.DataFrame({'Dataset_name': Dataset_name, 'Data_Type': Data_Type, 'Task': Task, 'Attribute_type': Attribute_type, 'No_of_instances': No_of_instances, 'No_of_attribute': No_of_attribute, 'Year_note': Year_note})

In [34]:
UCI_Datasets

,Dataset_name,Data_Type,Task,Attribute_type,No_of_instances,No_of_attribute,Year_note
0,Iris,Classification,Multivariate,Real,150,4,Donated on 6/30/1988
1,Heart Disease,Classification,Multivariate,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
2,Adult,Classification,Multivariate,"Categorical, Integer",48842,14,Donated on 4/30/1996
3,Dry Bean Dataset,Classification,Multivariate,"Integer, Real",13611,17,Donated on 9/13/2020
4,Diabetes,,,"Categorical, Integer",-,20,-
5,Rice (Cammeo and Osmancik),Classification,Multivariate,Real,3810,8,Donated on 10/5/2019
6,Wine,Classification,Multivariate,"Integer, Real",178,13,Donated on 6/30/1991
7,Car Evaluation,Classification,Multivariate,Categorical,1728,6,Donated on 5/31/1997
8,Breast Cancer Wisconsin (Diagnostic),Classification,Multivariate,Real,569,30,Donated on 10/31/1995
9,Mushroom,Classification,Multivariate,Categorical,8124,22,Donated on 4/26/1987

Q9)Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants
You have to find the following details: 
A) Name
B) Designation
C)Company 
D)Skills they hire for 
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and 
click on search. All this should be done through code

In [61]:
driver.get('https://www.naukri.com/')

In [78]:
s = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/div[1]/div/input')
s.send_keys('Data Science')

In [80]:
s1 = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
s1.click()

In [40]:
Job_name = []

jo = driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[2]/div[2]/article/div[1]/div/a')

for i in jo:
    Job_name.append(i.text)

In [69]:
Job_name

['L&D Trainer - Python & Data Science/Data Analytics',
 'Data Science Engineer',
 'Engineer II- Data Science & Analytics',
 'Senior Analyst, Data Science',
 'Manager/Sr. Manager - GPS Safety Data Sciences',
 'Data Science Senior Analyst',
 'Data Science Engineer',
 'Software Engineer, Data Science',
 'Senior Analyst, Data Science',
 'Data Science Manager',
 'Data Science Engineer',
 'Data Science Analyst',
 'Sr Associate Data Science & Analytics',
 'Senior Software Engineer, Data Science',
 'Data Science Manager - Machine Learning/Predictive Modeling',
 'Senior Manager Data Science Global',
 'Senior Manager-Data Science',
 'Data Science Analytics Sr Analyst - Data Science',
 'Cluster Manager - PL - Data Science',
 'Manager, Identity Data Science']

In [70]:
len(Job_name)

20

In [53]:
url = []

ur = driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')

for i in ur:
    url.append(i.get_attribute('href'))

In [54]:
len(url)

20

In [74]:
Company_name = []

for i in url:
    driver.get(i)
    time.sleep(3)
    try:
        com = driver.find_element(By.XPATH,'/html/body/div[1]/main/div[2]/div[1]/section[1]/div[1]/div[1]/div[1]')
        Company_name.append(com.text)
    except NoSuchElementException:
        Company_name.append('-')

In [81]:
com1 = driver.find_elements(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[2]/div[2]/article/div[1]/div[1]/div/a[1]')

for i in com1:
    Company_name.append(i.text)

In [82]:
Company_name

['AVE-Promagne Business Solutions',
 'Bizongo',
 'Raytheon Technologies',
 'DUN BRADSTREET INFORMATION SERVICES INDIA PRIVATE LIMITED',
 'Eli Lilly And Company',
 'Accenture',
 'Augusta Infotech',
 'Epiq Systems',
 'Venator Holdings',
 'Tredence',
 'Conneqt Digital',
 'Accenture',
 'Carrier',
 'Epiq Global',
 'HyrEzy Talent Solution',
 'Red Hat',
 'Ola',
 'Accenture',
 'Bajaj Finserv Ltd.',
 'Xoom']

In [83]:
len(Company_name)

20

In [84]:
Skills = []

for i in url:
    driver.get(i)
    time.sleep(5)
    try:
        sk =driver.find_element(By.XPATH,'/html/body/div[1]/main/div[2]/div[1]/section[2]/div[4]/div[2]')
        Skills.append(sk.text)
    except NoSuchElementException :
        Skills.append('-')

In [85]:
Skills

['Skills highlighted with ‘‘ are preferred keyskills',
 'algorithmspythonnatural language processingneural networksbusiness analyticsmachine learningresearchartificial intelligencetext analyticsanalyticsdeep learningtensorflowjavadata sciencecomputer visiondesignkerastext miningopencvmlpattern recognition',
 'Skills highlighted with ‘‘ are preferred keyskills',
 'Data analysisStatistical modelingdata scienceAnalyticalMachine learningHTMLMonitoringSQLPythonRecruitment',
 'Data analysisBusiness objectsData validationOperational excellenceHealthcareSystem developmentAnalyticsPython',
 '-',
 '-',
 'Skills highlighted with ‘‘ are preferred keyskills',
 'Data analysisStatistical modelingdata scienceAnalyticalMachine learningHTMLMonitoringSQLPythonRecruitment',
 'Career developmentdata scienceAnalyticalConsultingMachine learningNatural language processingManagementNew business developmentPythontext analytics',
 'Skills highlighted with ‘‘ are preferred keyskills',
 '-',
 'Performance tuningSystem testingDTPTesting toolsTechnical ExpertFunctional AnalystSAP BWDesign developmentSQL scriptingAnalytics',
 'Product managementUI developmentC++DjangoAnalyticalMachine learningData processingNatural language processingdata visualizationPython',
 'Skills highlighted with ‘‘ are preferred keyskills',
 'Skills highlighted with ‘‘ are preferred keyskills',
 'Skills highlighted with ‘‘ are preferred keyskills',
 '-',
 'Analytical skillsData analysisPrototypedata scienceTechnical designProduct portfolioConceptualizationMathematicsStatisticsPersonal loans',
 'Computer scienceStatistical programmingData analysisAnalyticalInstrumentationTeradataAnalyticsFinancial servicesSQLPython']

In [86]:
len(Skills)

20

In [87]:
Location = []

for i in url:
    driver.get(i)
    time.sleep(3)
    try:
        loc = driver.find_element(By.XPATH,'/html/body/div[1]/main/div[2]/div[1]/section[1]/div[1]/div[2]/div[2]/span')
        Location.append(loc.text)
    except NoSuchElementException:
        Location.append('-')

In [88]:
Location

['Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Delhi / NCR, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hybrid',
 'Hyderabad/Secunderabad',
 'Bangalore/Bengaluru',
 '-',
 'Bangalore/ Bengaluru,Karnataka( Electronic City )',
 'Hybrid',
 'Hyderabad/Secunderabad',
 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Hybrid',
 '-',
 'Hyderabad/Secunderabad',
 'Hyderabad/Secunderabad, Pune',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 '-',
 'Pune',
 'Chennai']

In [89]:
len(Location)

20

In [90]:
Data_science_jobs = pd.DataFrame({'Job_name': Job_name, 'Company_name': Company_name, 'Skills': Skills, 'Location': Location})

In [91]:
Data_science_jobs

,Job_name,Company_name,Skills,Location
0,L&D Trainer - Python & Data Science/Data Analy...,AVE-Promagne Business Solutions,Skills highlighted with ‘‘ are preferred keysk...,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,..."
1,Data Science Engineer,Bizongo,algorithmspythonnatural language processingneu...,Bangalore/Bengaluru
2,Engineer II- Data Science & Analytics,Raytheon Technologies,Skills highlighted with ‘‘ are preferred keysk...,Hybrid
3,"Senior Analyst, Data Science",DUN BRADSTREET INFORMATION SERVICES INDIA PRIV...,Data analysisStatistical modelingdata scienceA...,Hyderabad/Secunderabad
4,Manager/Sr. Manager - GPS Safety Data Sciences,Eli Lilly And Company,Data analysisBusiness objectsData validationOp...,Bangalore/Bengaluru
5,Data Science Senior Analyst,Accenture,-,-
6,Data Science Engineer,Augusta Infotech,-,"Bangalore/ Bengaluru,Karnataka( Electronic City )"
7,"Software Engineer, Data Science",Epiq Systems,Skills highlighted with ‘‘ are preferred keysk...,Hybrid
8,"Senior Analyst, Data Science",Venator Holdings,Data analysisStatistical modelingdata scienceA...,Hyderabad/Secunderabad
9,Data Science Manager,Tredence,Career developmentdata scienceAnalyticalConsul...,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder..."
10,Data Science Engineer,Conneqt Digital,Skills highlighted with ‘‘ are preferred keysk...,Hybrid
11,Data Science Analyst,Accenture,-,-
12,Sr Associate Data Science & Analytics,Carrier,Performance tuningSystem testingDTPTesting too...,Hyderabad/Secunderabad
13,"Senior Software Engineer, Data Science",Epiq Global,Product managementUI developmentC++DjangoAnaly...,"Hyderabad/Secunderabad, Pune"
14,Data Science Manager - Machine Learning/Predic...,HyrEzy Talent Solution,Skills highlighted with ‘‘ are preferred keysk...,Bangalore/Bengaluru
15,Senior Manager Data Science Global,Red Hat,Skills highlighted with ‘‘ are preferred keysk...,Bangalore/Bengaluru
16,Senior Manager-Data Science,Ola,Skills highlighted with ‘‘ are preferred keysk...,Bangalore/Bengaluru
17,Data Science Analytics Sr Analyst - Data Science,Accenture,-,-
18,Cluster Manager - PL - Data Science,Bajaj Finserv Ltd.,Analytical skillsData analysisPrototypedata sc...,Pune
19,"Manager, Identity Data Science",Xoom,Computer scienceStatistical programmingData an...,Chennai